body{
  background-color: #daeff2;
  color: #42526E;
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
}

.section-title h6::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #2F6FDB;
  margin: 4px 10px;
}

.section-title h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #2F6FDB;
}

.section-title h6::before,
.section-title h6::after {
  content: "";
  width: 120px;
  height: 1px;
  background: #2F6FDB;
  margin: 0 10px;
}

.icofont-rounded-right:before {
  content: "\eaa0";
  color: #12d640;
}
